.partners-contaier {
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
  margin-top: 2rem;
  .partner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .logo-item {
      margin: 1.4rem;
      display: inline-flex;
    }
  }
}
